*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #f5f8fa;
}

.page-header {
  height: 640px;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  margin: 0 auto;
  width: 80%;
}

.page-header:after {
  content: '';
  display: table;
  clear: both;
}


.row-top {
  width: 100%;
  height: 10%;
  background-color: #f4f9fd;
  border-bottom: 1px solid grey;
}

.row-top:after {
  content: '';
  display: table;
  clear: both;
}

.nav-left-top {
  position: relative;
  width: 40%;
  float: left;
  height: 100%;
  text-align: left;
  margin-left: 10%;
  margin-top: 20px;
}

.list-inline li{
  display: inline;
  list-style: none;
  padding: 5px;
}

.nav-right-top {
  position: relative;
  width: 40%;
  float: right;
  height: 100%;
  text-align: right;
  margin-right: 10%;
  margin-top: 20px;
}

/*.button-row-top .button-white  a{
  background-color: white;
  padding: 20px;
}*/

/*.button-row-top .button-orange a {
  background-color: orange;
  padding
}*/


.list-inline li {
  display: inline;
  padding: 0 10px;
}

.a {

}



.row-container {
    margin: 0px auto;
    width: 80%;
    /*padding-top: 14px;*/
    margin-top: 20px;
}
.row-bottom {
  height: 10%;
  width: 100%;
  background-color: white;
}

.row-bottom:after {
  content: '';
  display: table;
  clear: both;
}

.hubspot_logos img {
  float:left;
  position: relative;
  height: 100%;
  width: 40%;
  margin-left: 10%;

}

.nav-right-bottom {
  position: relative;
  float: right;
  height: 100%;
  width: 40%;
  margin-right: 10%;
  text-align: right;
  margin-bottom: 20px;
}

.banner {
  width: 40%;
  height: 50%;
  margin-left: 5%;
  margin-top: 5%;
}

.testo-banner > h1 {
  font-size: 55px;
  margin-bottom: 30px;
  text-align: left;
}

.testo-banner > p {
  font-size: 15px;
  text-align: left;
}

/*#button-orange {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius:4px;
  background: #fd7a5a;
}*/

.row-green {
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: #5fe4e3;
  margin-top: 7.5%;
  border-top: 2px solid #33475c;
  border-bottom: 1px solid #33475c;
}

.main-top {
  position: absolute;
  height: 100%;
  width: 70%;
  text-align: center;
  margin: 10% 15%;
}

.main-top img {
  width: 30%;
}

.main-top h1 {
  font-size: 40px;
  color: #33475b;
}

.main-top p {
  font-size: 18px;
  color:  #33475b;
  padding: 30px 60px;
  line-height: 35px;
}

.free-hubspot-crm {
  position: absolute;
  height: 60%;
  width: 80%;
  margin: 40% 10%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #e0dede;

}

.free-hubspot-crm:after {
  content: '';
  display: table;
  clear: both;
}

.free-hubspot-crm img {
  position: relative;
  width: 15%;
  float:left;
}
