*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #f5f8fa;
}

.page-header {
  height: 640px;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  margin: 0 auto;
  width: 80%;
}

.page-header:after {
  content: '';
  display: table;
  clear: both;
}


.row-top {
  width: 100%;
  height: 10%;
  background-color: #f4f9fd;
  border-bottom: 1px solid grey;
}

.row-top:after {
  content: '';
  display: table;
  clear: both;
}

.nav-left-top {
  position: relative;
  width: 40%;
  float: left;
  height: 100%;
  text-align: left;
  margin-left: 10%;
  margin-top: 20px;
}

.list-inline li{
  display: inline;
  list-style: none;
  padding: 5px;
}

.nav-right-top {
  position: relative;
  width: 40%;
  float: right;
  height: 100%;
  text-align: right;
  margin-right: 10%;
  margin-top: 20px;
}

/*.button-row-top .button-white  a{
  background-color: white;
  padding: 20px;
}*/

/*.button-row-top .button-orange a {
  background-color: orange;
  padding
}*/


.list-inline li {
  display: inline;
  padding: 0 10px;
}

.row-container {
    margin: 0px auto;
    width: 80%;
    /*padding-top: 14px;*/
    margin-top: 20px;
}
.row-bottom {
  height: 10%;
  width: 100%;
  background-color: white;
}

.row-bottom:after {
  content: '';
  display: table;
  clear: both;
}

.hubspot_logos img {
  float:left;
  position: relative;
  height: 100%;
  width: 40%;
  margin-left: 10%;
}

.nav-right-bottom {
  position: relative;
  float: right;
  height: 100%;
  width: 40%;
  margin-right: 10%;
  text-align: right;
  margin-bottom: 20px;
}

.banner {
  width: 40%;
  height: 50%;
  margin-left: 5%;
  margin-top: 5%;
}

.testo-banner > h1 {
  font-size: 55px;
  margin-bottom: 30px;
  text-align: left;
}

.testo-banner > p {
  font-size: 15px;
  text-align: left;
}

/*#button-orange {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius:4px;
  background: #fd7a5a;
}*/

.row-green {
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: #5fe4e3;
  margin-top: 6.5%;
  border-top: 2px solid #33475c;
  border-bottom: 1px solid #33475c;
}

.main-top {
  position: absolute;
  height: 100%;
  width: 70%;
  text-align: center;
  margin: 10% 15%;
}

.main-top img {
  width: 30%;
}

.main-top h1 {
  font-size: 40px;
  color: #33475b;
}

.main-top p {
  font-size: 18px;
  color:  #33475b;
  padding: 30px 60px;
  line-height: 35px;
}

.main-sect1 {
  position: absolute;
  height: 55%;
  width: 80%;
  margin: 40% 10%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #e0dede;
}

.main-sect1:after {
  content: '';
  display: table;
  clear: both;
}

.main-sect1 img {
  position: relative;
  width: 13%;
  float:left;
  margin: 5% 13%;
}

.button-orange {
  position: relative;
  float: left;
  background-color: #ff8f73;
  padding: 20px 40px;
  border-radius: 5px;
  color: #ffffff;
  margin: 17% -26%;
}

.main-sect1 h2 {
  position: relative;
  float: left;
  font-size: 26px;
  text-align: left;
  color: #33475b;
  display: inline;
  margin: 5% -6%;
}

.main-sect1 p {
  position: relative;
  float: left;
  width: 60%;
  font-size: 18px;
  text-align: left;
  color:  #33475b;
  line-height: 35px;
  margin: -10% 33%;
}

.main-sect1 .h2-uppercase {
  position: relative;
  font-size: 22px;
  text-transform: uppercase;
  color:  #33475b;
  margin: -2% 33%;
}

.check-circle-orange  li {
  position: relative;
  float: left;
  font-size: 16px;
  color: #33475b;
  display: inline;
  padding: 5px;
}

.check-circle-orange  i {
  position: relative;
  float: left;
  font-size: 18px;
  color: #ff8f73;
  display: inline;
  padding: 5px;
  margin-top: 20%;
}

.main-sect2-float {
  position: absolute;
  height: 100%;
  width: 80%;
  margin-top: 70%;
  margin-left: 10%;

}

.main-sec2-float:after {
  content: '';
  display: table;
  clear: both;

}
.col1 {
  position: relative;
  float: left;
  height: 100%;
  width: 30%;
  display: block;
  background-color: white;
  margin-top: 0;

}

.col2 {
  float: left;
  position: relative;
  height: 100%;
  width: 30%;
  display: block;
  background-color: white;
  margin-left: 5%;
  margin-top: 0;

}

.col3 {
  position: relative;
  float: left;
  height: 100%;
  width: 30%;
  display: block;
  background-color: white;
  margin: 0;
  margin-left: 5%;
}

.col1 img {
  position: relative;
  width: 32%;
  margin-left: 34%;
  margin-top: 10%;
}

 .col1 h2 {
  font-size: 28px;
  text-align: center;
  color: #425466;
  margin-top: 6%;
}

.col1 p {
  font-size: 18px;
  text-align: center;
  color: #425466;
  margin-top: 9%;
  line-height: 35px;
  padding: 14px;
}

.col1 .h2-uppercase-sect2-float {
  font-size: 22px;
  text-align: center;
  color: #33475b;
  margin-top: 18%;
  text-transform: uppercase;
  padding: 14px;
}

.list-check-orange ul li {
  font-size: 18px;
  color: #33475b;
  padding-left:14px;
  list-style: none;
}

.list-check-orange ul i {
  font-size: 18px;
  color: #ff9276;
  padding: 2px 12px;
}

.learn-button {
  background-color: #ff8f73;
  padding: 20px 40px;
  border-radius: 5px;
  color: #ffffff;
  margin-top: 70%;
  margin-left: 28%
  margin-right: 10%;
}

.col2 img {
    position: relative;
    width: 39%;
    margin-left: 32%;
    margin-top: 10%;
  }

   .col2 h2 {
    font-size: 28px;
    text-align: center;
    color: #425466;
    margin-top: 6%;
  }

  .col2 p {
    font-size: 18px;
    text-align: center;
    color: #425466;
    margin-top: 9%;
    line-height: 35px;
    padding: 14px;
  }

  .col2 .h2-uppercase-sect2-float {
    font-size: 22px;
    text-align: center;
    color: #33475b;
    margin-top: 18%;
    text-transform: uppercase;
    padding: 14px;
  }

  .list-check-orange ul li {
    font-size: 18px;
    color: #33475b;
    padding-left:14px;
    list-style: none;
  }

  .list-check-orange ul i {
    font-size: 18px;
    color: #ff9276;
    padding: 2px 12px;
  }

  .learn-button {
    background-color: #ff8f73;
    padding: 20px 40px;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 70%;
    margin-left: 28%
    margin-right: 10%;
  }

  .col3 img {
      position: relative;
      width: 32%;
      margin-left: 32%;
      margin-top: 10%;
    }

     .col3 h2 {
      font-size: 28px;
      text-align: center;
      color: #425466;
      margin-top: 3%;
    }

    .col3 p {
      font-size: 18px;
      text-align: center;
      color: #425466;
      margin-top: 9%;
      line-height: 35px;
      padding: 14px;
    }

    .col3 .h2-uppercase-sect2-float {
      font-size: 22px;
      text-align: center;
      color: #33475b;
      margin-top: 18%;
      text-transform: uppercase;
      padding: 14px;
    }

    .list-check-orange ul li {
      font-size: 18px;
      color: #33475b;
      padding-left:14px;
      list-style: none;
    }

    .list-check-orange ul i {
      font-size: 18px;
      color: #ff9276;
      padding: 2px 12px;
    }

    .learn-button {
      background-color: #ff8f73;
      padding: 20px 40px;
      border-radius: 5px;
      color: #ffffff;
      margin-top: 70%;
      margin-left: 28%
      margin-right: 10%;
    }
/* main section 3*/
    .main-sect3 {
      position: absolute;
      height: 110%;
      width: 100%;
      background-image: linear-gradient(45deg, #00A4BD, #00BDA5);
      margin-top: 120%;
    }

    .text-primary {
      height: 15%;
      width: 60%;
      margin: 3% auto;
      padding-top: 10px;

    }
    .main-sect3 .text-primary .big-text p {
      text-align: center;
      font-size: 28px;
      color: #ffffff;

    }

    .text-secondary {
      position: relative;
      height: 15%;
      width: 90%;
      margin: 0 auto;
      padding: 0 10% 0 10%;

    }

    .main-sect3 .text-secondary .small-text p {
      text-align: center;
      font-size: 16px;
      line-height: 30px;
      color: #ffffff;
      padding: 8px;
    }
/*main container wrapper*/
    .main-container-wrapper {
      height: 50%;
      width: 68%;
      margin: 0 auto;
      padding-top: 2%;
    }

    .row1-box   {
      height: 50%;
      width: 100%;
      margin: 0 auto;
      border-bottom: 1px solid #ffffff;
    }

    /* row 1*/
    .row1-box:after {
      content: '';
      display: table;
      clear: both;
    }
/* row1-box1 */
    .row1-box .row1-box1 {
      float: left;
      width: 25%;
      height: 100%;
      border-right: 1px solid white;
    }

    .row1-box1 img {
      width: 20%;
      margin: 6% 40%;
    }

    .h2-row1-box1 h2 {
      font-size: 46px;
      font-weight: bold;
      text-align: center;
      color:white;
      padding-top: 5px;
    }

    .h2-row1-box1  i {
      font-size: 16px;
      margin-top: 5% auto;
      color: white;
    }

    .p-row1-box1 p {
      font-size: 14px;
      text-align: center;
      margin-top: 20px;
      color: white;

      }
/* fine row1-box 1 */

/* row1-box2 */
    .row1-box .row1-box2 {
      float: left;
      width: 25%;
      height: 100%;
      border-right: 1px solid white;
    }

    .row1-box2 img {
      width: 60px;
      margin: 6% 37%;
    }

    .h2-row1-box2 h2 {
      font-size: 44px;
      font-weight: bold;
      text-align: center;
      padding-top: 5px;
      color: white;
    }

    .h2-row1-box2  i {
      font-size: 16px;
      margin-top: 5% auto;
      color: white;
    }

    .p-row1-box2 p {
      font-size: 14px;
      text-align: center;
      margin-top: 20px;
      color: white;
      }
/* fine row1-box2 */

/* row1-box3 */
    .row1-box .row1-box3 {
      float: left;
      width: 25%;
      height: 100%;
      border-right: 1px solid white;
    }

    .row1-box3 img {
      width: 42%;
      margin: 8% 34%;
    }

    .h2-row1-box3 h2 {
      font-size: 44px;
      font-weight: bold;
      text-align: center;
      padding-top: 5px;
      color: white;
    }

    .h2-row1-box3  i {
      font-size: 16px;
      margin-top: 5% auto;
      color: white;
    }

    .p-row1-box3 p {
      font-size: 14px;
      text-align: center;
      margin-top: 20px;
      color: white;
      }
/* fine row1-box3*/

/* row1-box4 */
    .row1-box .row1-box4 {
      float: left;
      width: 25%;
      height: 100%;
    }

    .row1-box4 img {
      width: 35%;
      margin: 6% 33%;
    }

    .h2-row1-box4 h2 {
      font-size: 44px;
      font-weight: bold;
      text-align: center;
      padding-top: 10px;
      color: white;
    }

    .h2-row1-box4  i {
      font-size: 16px;
      margin-top: 5% auto;
      color: white;
    }

    .p-row1-box4 p {
      font-size: 14px;
      text-align: center;
      margin-top: 22px;
      color: white;
      }
/* fine row1-box4 */

/* row2-box */
    .row2-box  {
      height: 100%;
      width: 100%;
      margin: 0 auto;
    }

    .row2-box:after {
      content: '';
      display: table;
      clear: both;
    }

    .row2-box .row2-box1 {
      float: left;
      width: 25%;
      height: 50%;
      border-right: 1px solid white;
    }

    .row2-box1 img {
      width: 35%;
      margin: 6% 33%;
    }

    .h2-row2-box1 h2 {
      font-size: 44px;
      font-weight: bold;
      text-align: center;
      margin: 2% auto;
      color: white;
    }

    .h2-row2-box1  i {
      font-size: 16px;
      margin-top: 5% auto;
      color: white;
    }

    .p-row2-box1 p {
      font-size: 14px;
      text-align: center;
      padding-top: 20px;
      color: white;
    }
/* row2-box2*/
    .row2-box .row2-box2 {
      float: left;
      width: 25%;
      height: 50%;
      border-right: 1px solid white;
    }

    .row2-box2 img {
      width: 20%;
      margin: 6% 38%;
    }

    .h2-row2-box2 h2 {
      font-size: 44px;
      font-weight: bold;
      text-align: center;
      margin: 0 auto;
      color: white;
    }

    .h2-row2-box2  i {
      font-size: 16px;
      margin-top: 4% auto;
      color:white;
    }

    .p-row2-box2 p {
      font-size: 14px;
      text-align: center;
      padding-top: 20px;
      color: white;
    }

/*row2-box3*/

.row2-box .row2-box3 {
  float: left;
  width: 25%;
  height: 50%;
  border-right: 1px solid white;
}

.row2-box3 img {
  width: 20%;
  margin: 6% 38%;
}

.h2-row2-box3 h2 {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  color: white;
}

.h2-row2-box3  i {
  font-size: 16px;
  margin-top: 4% auto;
  color: white;
}

.p-row2-box3 p {
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
  color: white;
}

/* row2-box4 */

.row2-box .row2-box4 {
  float: left;
  width: 25%;
  height: 50%;
}

.row2-box4 img {
  width: 38%;
  margin: 6% 34%;
}

.h2-row2-box4 h2 {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  color: white;
}

.h2-row2-box4  i {
  font-size: 16px;
  margin-top: 4% auto;
  color: white;
}

.p-row2-box4 p {
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
  color: white;
}

/* main-sec4 */

.main-sect4 {
  position: absolute;
  margin-top: 170%;
  width: 100%;
  height: 90%;
}

.main-sect4:after {
  content: '';
  display: table;
  clear: both;
}

.main-sect4 .text-left {
  position: relative;
  width: 20%;
  margin: 5% 20%;
}

.main-sect4 .text-left h1 {
  font-size: 50px;
  text-align: left;
  color: #33475b;
  font-weight: bold;
}

.main-sect4 .text-left ul li {
  display: block;
  font-size: 18px;
  color:  #33475b;
  text-decoration: none;
  line-height: 5px;
  margin-top: 20px;
}

.block-logos1 {
  float: left;
  width: 40%;
  height: 20%;
  background-color: lightgreen;
}
/*.block-logos1 {
  width: 100%;
  height: 50%;
  background-color: yellow;


}
