*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
font-family: Roboto, sans-serif;
}


.page-header {
height: 650px;
background-image: url(../img/jumbotron.png);
background-size: cover;
background-repeat: no-repeat;
background-size:
}

.page-header:after {
content: '';
display: table;
clear: both;
}


.row-top {
position: relative;
width: 100%;
height: 10%;
background-color: #f4f9fd;
border-bottom: 1px solid grey;
}

.row-top:after {
content: '';
display: table;
clear: both;
}

.nav-left-top {
  position: absolute;
  width: 50%;
  float: left;

  height: 100%;
  text-align: left;
  margin-top: 10px;
}

.list-inline li{
  display: inline;
  list-style: none;
  padding: 5px;
}

.nav-right-top {
  position: absolute;
  width: 50%;
  float: right;

  height: 100%;
  text-align: right;
  margin-top: 10px;
}

.list-inline li {
  display: inline;
  padding: 0 10px;
}

.row-bottom {
height: 10%;
background-color: white;
}

.row-bottom:after {
content: '';
display: table;
clear: both;
}

.hubspot_logos img {
height: 50%;
}

.nav-right-bottom {
  float: right;
  width: 100%;
  margin-right: 10%;
  height: 100%;
  text-align: right;
  margin-bottom: 0 auto;
}


.banner {
  position: absolute;
  width: 40%;
  height: 50%;
  margin-left: 5%;
  margin-top: 5%;
}

.testo-banner > h1 {
  font-size: 55px;
  margin-bottom: 30px;
  text-align: left;
}

.testo-banner > p {
  font-size: 15px;
  text-align: left;
}

#button-orange {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius:4px;
  background: #fd7a5a;
}

.row-green {
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: #5fe4e3;
  margin-top: 34%;


}
